@import "normalize";

#app {
  padding: 0 10px;
}

.sudoku-table, .controls table{
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;
}

.sudoku-table {
  margin-top: 50px;
  border: 3px solid black;
}

.sudoku-table td, .controls table td{
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
}

.sudoku-table td {
  border: 1px solid black;
}

.sudoku-table td.marked.focus {
  background-color: #FECB7A;
}

.sudoku-table td.marked {
  background-color: #FBEBD3;
}

.controls {
  margin: 20px auto 50px;
  color: #8BD8AA;
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
}

.i2, .i5 {
  border-bottom: 3px solid black !important;
}

.j2, .j5 {
  border-right: 3px solid black !important;
}

.sudoku-table td.not-editable {
  font-weight: bold;
  cursor: not-allowed;
}

.sudoku-table td.has-conflict {
  color: red;
}

.dialog {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dialog * {
  margin-left: 5px;
  font-size: 20px;
}

.dialog-close {
  position: relative;
  top: 2px;
  right: 2px;
}

.congratulations {
  color: red;
}

.index {
  text-align: center;
}
