<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>Sudoku</title>
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="bundle/sudoku.css">
    <link rel="stylesheet" href="bundle/iconfont.css">
  </head>
  <body>
    <div id="app" v-cloak>
      <div  class="spinner" v-if="loading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <div v-else class="noselect">
        <div class="dialog">
          <p class="congratulations" v-if="isComplete">Congratulations!</p>
          <p v-else>已用时间: {{formatedTime()}}</p>
          <button @click="difficultyClick" data-difficulty="easy" :class="{selected: difficulty === 'easy'}">简单</button>
          <button @click="difficultyClick" data-difficulty="medium" :class="{selected: difficulty === 'medium'}">中等</button>
          <button @click="difficultyClick" data-difficulty="hard" :class="{selected: difficulty === 'hard'}">困难</button>
        </div>
        <table class="sudoku-table">
          <tbody>
            <tr v-for="(irow, row) in game">
              <td v-for="(icell, cell) in row"
                :class="[hasMark(irow, icell, cell) ? 'marked' : '', 'i'+irow, 'j'+icell, cell.editable ? 'editable': 'not-editable', cell.hasConflict ? 'has-conflict' : 'no-conflict', (irow === x && icell === y) ? 'focus' : '', cell.tag ? 'tag' : '']"
                @click="cellClick(cell, irow, icell)"
              >{{cell.value || ' '}}</td>
            </tr>
          </tbody>
        </table>
        <div class="controls">
          <table>
          <tbody><tr>
          <td v-for="i in 9" @click="cellFillValue(i + 1)" class="btn" :class="{disabled: (disabled === null || disabled[i+1] === 1)}">{{i + 1}}</td>
          </tr>
          </tbody>
          </table>
        </div>
        <div class="dialog">
          <i class="icon iconfont icon-eraser" :class="{disabled: caniuse}" @click="eraseValue"></i>
          <i class="icon iconfont icon-pencil" :class="{disabled: caniuse || scell.hasConflict}" @click="addTag"></i>
          <i class="icon iconfont" :class="[autoTag ? 'icon-dengpao' : 'icon-dengpao1']" @click="toggleAutoTag"></i>
        </div>
      </div>
    </div>
    <noscript>本页面需要浏览器 支持/开启 `JavaScript` 功能, 请确定你的浏览器 支持/开启 了 `JavaScript` 功能后刷新本页面.</noscript>
    <script src="bundle/sudoku-min.js"></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./sw.js').then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ',    registration.scope);
        }).catch(function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      }
    </script>
  </body>
</html>
<!-- vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: -->
